<!DOCTYPE html>
<html ng-app="whattodo">
<head>
	<title>Chases Site</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css" >
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
	<script src="resource/jquery-2.2.0.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	
	<!-- <script src="resource/angular.min.js"></script> -->
	<script src="resource/jquery-2.2.0.min.js"></script>
	<script src="js/main.js"></script>

</head>
<body>
	<header>
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">Chases Site</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="#">Home</a></li>
		      <li><a href="#">DO I</a></li>
		      <li><a href="#">Really Need</a></li>
		      <li><a href="#">A Navbar</a></li>
		    </ul>
		  </div>
		</nav>
	</header>
	
		<div class="container fill" id="main_wrapper">
			<div class="jumbotron" id="input">
				<label>What you be doing brah</label>
				<form method="post">
					<input name="activity" type="string" value="NOOo"> </input>
					<input type="submit"></input>
				</form>
			</div>
			{% for activity in activities %}
				<div style="margin: 1px" class="jumbotron col-md-2" id="input">
					
						{{activity.activity}}
					
				</div>
			{% endfor %}
		</div>

	</div>
	<footer class="footer"> <div class="container"> <p class="text-muted">All Things on this site shouldn't be used by normal humans</p></div></footer>
</body>
</html>