<html>
<head>
	<link rel="stylesheet" type="text/css" href="style/header.css" />
	<link rel="stylesheet" type="text/css" href="style/main.css">
	<link rel="stylesheet" type="text/css" href="style/normalize.css" >
	<script type="text/javascript"></script>
	<title>Chase's Playground</title>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<h1>Chase's Playground</h1>
			<ul id="nav"> 
				<li class="active">Main</li>
				<li>Fun Stuff</li>
				<li>Projects</li>
				<li>About</li>
			</ul>
		</div>
		<div id="main">
			<div class="content">
				<h1>Next Action Step</h1>
				<p>Alright next step is to create a blog around this page.  Its pretty simple stuff, but it is fun.  </p>

			</div>
			<div class="content">
				<h1>Its Starting!!!</h1>
				<p>One day you will look back on this day as a begining.  A begining of great things.  I love you.</p>
			</div>
		</div>
	</div>
</body>
</html>